@charset "UTF-8";

@import "tailwindcss";

html,
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* ---------- DARK MODE (Luxo) ---------- */
.dark {
  --bg-primary: #0e1116; /* fundo principal */
  --bg-secondary: #161a21; /* cards e seções */

  --text-primary: #ededed; /* branco suave */
  --text-secondary: #a9adb3; /* cinza elegante */

  --border-color: #232833;

  --accent: #24394c; /* azul petróleo / navy */
  --accent-hover: #2f4b63;

  --btn-bg: #243C4C;
  --btn-bg-hover: #223846;

  --gold: #bfa980; /* dourado fosco (usar pouco) */

  --shadow: rgba(0, 0, 0, 0.6);
}

/* ---------- LIGHT MODE (Luxo Claro) ---------- */
.light {
  --bg-primary: #f5f6f4; /* off-white */
  --bg-secondary: #ffffff; /* cards */

  --text-primary: #1c1f23; /* preto suave */
  --text-secondary: #5f6368;

  --border-color: #d6d8d5;

  --accent: #24394c; /* mesmo azul sofisticado */
  --accent-hover: #1f3142;

  --gold: #c2a46d; /* dourado fosco claro */

  --shadow: rgba(0, 0, 0, 0.08);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.3px;
}
