@charset "UTF-8";

@import "tailwindcss";

html,
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dark {
  --bg-primary: #0e1116;
  --bg-secondary: #161a21;

  --text-primary: #a9adb3;
  --text-secondary: #ededed;

  --border-color: #232833;

  --accent: #24394c;
  --accent-hover: #2f4b63;

  --btn-bg: #243c4c;
  --btn-bg-hover: #223846;

  --gold: #bfa980;

  --glass-border: hsl(215 18% 20% / 0.6);

  --shadow: rgba(0, 0, 0, 0.6);
  --shadow-subtle: 0 2px 20px hsl(0 0% 0% / 0.05);
  --shadow-card: 0 4px 30px hsl(0 0% 0% / 0.4);
}

.light {
  --bg-primary: #f5f6f4;
  --bg-secondary: #ffffff;

  --text-primary: #5f6368;
  --text-secondary: #1a1d23;

  --border-color: #bec0be;

  --accent: #24394c;
  --accent-hover: #1f3142;

  --btn-bg: #243c4c;
  --btn-bg-hover: #223846;

  --gold: #c2a46d;

  --glass-border: hsl(215 18% 20% / 0.6);
  --shadow-subtle: 0 2px 20px hsl(0 0% 0% / 0.05);
  --shadow-card: 0 4px 30px hsl(0 0% 0% / 0.4);
  --shadow: rgba(0, 0, 0, 0.08);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.3px;
}

.luxury-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--glass-border);
  box-shadow: var(--shadow-subtle);
}

.luxury-card:hover {
  box-shadow: var(--shadow-card);
}
